<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.wiki_edit', default: 'Edit wiki') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for @wiki do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <%= f.submit t('.create', :default => "Edit wiki"), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
