<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">
          <%= @wiki.title %>
          <small>
            <%= link_to edit_wiki_path, class: 'btn btn-default pull-right' do %>
              <i class="glyphicon glyphicon-edit"></i> Edit
            <% end %>
          </small>
        </h2>
        <p><%= @wiki.body %>
      </div>
    </div>
  </div>
</div>